h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  } 
.heading{
  padding-left: 15%
  
  }
.language{
  left: 10px;
  position:fixed;
  top: 10px;
  background-color:#E0E0E0;
  
  padding: 10px;
} 
.leftSide{

}
.contents_title{

}
.list_container{
  position:fixed;
  padding: 10px;
  background-color:#E0E0E0;
  border-radius: 10px 0px 0px 10px;
  -webkit-box-shadow: 0 10px 6px -6px #D0D0D0;
  -moz-box-shadow: 0 10px 6px -6px #D0D0D0;
  box-shadow: 0 10px 6px -6px #D0D0D0;
  padding: 10px;
}
.content{
  padding-left: 10%;
}
html{
  scroll-behavior:smooth;
  font-size: 120% ;
}
a{
  text-decoration: none;
}
.head{
  background-color:gray;
}
.paragraph{
  padding-left: 15px;
}
table, th, td {
  border: 1px solid black;
}